body.first {
  background-color: #391f80;
  height: 101vh;
}

.bold {
  font-weight: bold;
}

.hiddenScroll {
  position: fixed;
  bottom: -1000px;
  height: 100px;
}

a {
  color: white;
  text-decoration: none;
}

* {
  transition: .5s all;
}
/* ------------------
first page 
------------------*/

 .fullpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}


header.first {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.gold-divider {
  background-color: #ffe83d;
  height: 20px;
}

main.first {display: none}
h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: #ffe83d;
  background-color: #391f80;
}

h1.first { 
  font-size: 100px;
  font-weight: bolder;
  letter-spacing: 7px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.under-title.first {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
}

h2.first {
  font-size: 35px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  line-height: 1.5em;
  background-color: #5d39f0;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

nav.first {
  background-color: #391f80;
  flex: 1;
  display: flex;
  align-items: center;
}

ul.first {
  list-style: none;
  display: flex;
  flex: 1;
}

 li.first {
  font-family: 'Asap', sans-serif;
  line-height: 3em;
  color: white;
  font-size: 20px;
  flex: 1;
}

h3.inactive.first {
  display: none;
}

/* ----------------------
second page
---------------------*/

body.second {
  background-color: #391f80;
}

.fullpage.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

header.second {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index:1;
}

.gold-divider.second {
  position: fixed;
  top: 74px;
  width: 100%;
  z-index:1;
}

h1.second {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bolder;
  color: #ffe83d;
  background-color: #391f80;
  letter-spacing: 20px;
  padding: 2px 0px;
}

nav.second ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #5d39f0;
  color: white;
  font-family: 'Asap', sans-serif;
  padding: 4px;
}

nav.second li {
  line-height: 1.5em;
}

main.second {
  position: absolute;
  top: 130px;
  background-color: white;
}

h3.active, h3.inactive {
  color: white;
  background-color: #391f80;
  font-size: 50px;
  height: 55px;
}

.information {
  background-color: #5d39f0;
  padding-bottom: 10px;
  border-bottom: 12px solid #ffe83d;
  margin-bottom: 30px;
}

.information:not(:first-child) {
  margin-top: 30px;
}

p.second {
  color: white;
  font-family: 'Asap', sans-serif;
  line-height: 1.5em;
  padding-top: 10px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}


.information ul, #contact-links ul {
  margin: 10px 0px;
}
.information li, #contact-links li {
  color: white;
  font-family: 'Asap', sans-serif;
  line-height: 1.5em;
  display: inline-block;

}

#skills {
  margin: 20px 0px;
}
#skills img, #contact-links img {
  width: 30px;
  padding: 0px 10px;
}

#final-links {
  position: fixed;
  bottom: 0;
  background-color: #ffe83d;
  padding: 5px;
  color: #391f80;
  width: 100%;
}

#easter-div {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  background-color: rgba(0,0,0,.9);
  z-index: 2;
}

#easter-egg {
  width: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#second-easter-egg {
  width: 50px;
}

h5 {
  color: #ffe83d;
  font-size: 30px;
  font-family: 'Asap', sans-serif;
}

h6 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  font-family: 'Asap', sans-serif;
}